
.continedor{
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px ;
    background: rgb(255, 255, 255);
  }


  h4{
    color: black;
    margin-bottom:10px;
    
  }
  label{
    color: black;
  }
  p{
    color: black;
  }
h1{
  color: black;
  text-align: center;
}
  
h4{
  text-align: center;
}
label{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

  input {
    
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(14, 14, 14);
    font-size: 16px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 40px;
}
input::placeholder { color: rgb(177, 177, 177); font-weight: bold; }

button{
  border: none;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  
  width: 50%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  outline: none;
  height: 40px;
  background-color:rgb(64, 143, 112);
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  background-color:rgb(53, 117, 91);
  transition: 0.1s ease-in-out;
}

.select-input{
  background-color:rgb(255, 255, 255);
  cursor: pointer;
}