
.App{
  height: 100%;
  width: 100%;

  flex-direction: column;
  justify-content:center;
  align-items:center;
}


.Contenedor{
  width: 370px;
  height: 410px;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px 50px;
  border-radius: 30px;
  box-shadow: 0 0 30px  rgba(166,0,0,1);
}
